@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin-left:17%;
  background: rgba(220, 220, 220, 0.795);
  font-family: "Open Sans";
  color: #808080;
  width: 70%;
  
}


